

form{
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);    background-color: #fff;
    min-width: 300px;
    min-height: 350px;
    border-radius: 15px;
    background: none;
    backdrop-filter: blur(5px);
    

}
.singin{
    margin: 1.5rem;
    padding: 1rem;
    height: auto;
}
h2{
    color: rgb(224, 236, 247);
    margin: 1.5rem 0 0 2rem;
}
h3{
    color: brown;
    font-size: 1rem;
}
.email, .pass, input{
    font-size: 1.5rem;
    margin-top: 5px;
    outline: none;
    padding: 5px;
}
.email, .pass{
    margin-left: 20px;
}
.login button{
    padding: .8rem;
    margin-left: 40%;
    margin-top: 10px;
    cursor: pointer;
}

span{
    display: none;
}