.contain {
    width: 100%;
    display: flex;
    padding: 1rem;
    position: relative;
    margin-top: 2rem;

}

.side_bar {
    width: 25%;
    height: 100vh;
    background-color: #4dbfe5;
    padding: 1rem;
}

.prodt_box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 1rem;
    padding: 1.2rem;
    column-gap: 2rem;
    row-gap: 2rem;
    backdrop-filter: blur(15px);
    box-shadow: 30px 20px 30px 40px rgba(0,0,0,1.1);
    
}

.proInfo{
    padding: 10px;
    max-width: 300px;
    height: 350px;
    border-radius: 10px;
    text-align: center;
    background: #000;

}
.proInfo:hover{
    color: #222;
    background-color: #86daf7;
    transition: .5s linear;
    
}

img {
    
}

h2 {
    text-align: center;
}
h4{
    font-weight: 600;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}