.bg{
    margin-top: 10rem;
}
.text_line{
    display: flex;
    margin: 1rem;
}
h2{
   margin: .5rem; 
}
.text_line span{
    margin: 10px 0 0 50px;
    color: wheat;
    cursor: pointer;
}

.containr{
    display: flex;
    /* flex-wrap: wrap; */
}
.frame1{
    margin: 5px;
    padding: 10px;
    width: 300px;
    height: 80%;
    background: rgb(0,0,0,0.4);
    border-radius: 15px;
}
.pic{
    width: 100%;
    height: auto;
    /* backdrop-filter: blur(4px);
    border-radius: 15px; */
}
.off_percent{
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}
.off_percent span{
    padding: 2px;
    background-color: crimson;
    border-radius: 5px;
}
.off_percent h4{
    font-size: 13px;
    margin-top: 5px;
}
.price{
    padding: .5rem;
    
}
.price h3{
    font-size: 2.5rem;
}
.price span{
    font-size: 1.5rem;
    text-decoration-line: line-through;
    text-decoration-color: white;
}